************************************************************

This skillet renders a simple Template. The values shown below
can be captured from previous skillets.

Licenses are {{ license_keys_output }}

************************************************************